client/.env
server/.env
client/build
server/build
client/node_modules
server/node_modules
client/dist
server/dist
server/scripts
server/models
client/assets
client/build-prep.cjs
client/verify-build.sh
client/src/assets
